<div class="container">
<% if @licenses.empty? %>
  <h1>No hay licencias pendientes de revision</h1>
<%else%>
<h2>Listado de Licencias</h2>
<table class="table">
<% @licenses.each do |l| %>
      <tr>
        <thead>
          <th>Imagen: </th>
          <th>Estado: </th>
        </thead>
      </tr>
      <tr>
        <td><%= image_tag l.photo.url(:thumb).to_s %></td>
        <td><%= l&.estado %></td>
        <td><%= link_to "Verificar licencia", edit_license_path(l), class: 'btn' %></td>
      </tr>
<% end %>
</table>
<%end%>
<% if @licenses_not.empty? %>
  <h1>No hay licencias no validas</h1>
<%else%>
<h2>Listado de Licencias rechazadas</h2>
<table class="table">
<% @licenses_not.each do |l| %>
      <tr>
        <thead>
          <th>Imagen: </th>
          <th>Usuario: </th>
          <th>Estado: </th>
          <th>Motivo de rechazo: </th>
        </thead>
      </tr>
      <tr>
        <td><%= image_tag l.photo.url(:thumb).to_s %></td>
        <td><%= l.user.name %></td>
        <td><%= l&.estado %></td>
        <td><%= l.motive %></td>
      </tr>

<% end %>
</table>
<%end%>
</div>