
<div class="container">
<div class="table table-hover">
    <thead>
        <tr>
            <th>Foto de licencia </th><th><br>
            <%= image_tag @license.photo.url %></th><br>
            <% if @license.state == "ok" %>
              <th>Fecha de vencimieto: </th><th><%= @license.expire %><br>
            <% end %>
            <th>Estado: </th><th><%= @license.state %><br>
            <% if @license.state == "rejected" %>
              <th>Motivo de rechazo: </th><th><%= @license.motive %>
            <% end %>
            <% if @license.state == "toexpire" || @license.state == "rejected" %><br>
              <%= link_to "Resubir licencia", edit_license_path %>
            <% end %>
        </tr>
    </thead>
</div>
</div>
