<div id="<%= dom_id fine %>">
  <p>
    <strong>Precio:</strong>
    <%= fine.price %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= fine.motive %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= fine.typefine %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= fine&.estado %>
  </p>

</div>
