<div class="container">
  <span class="add-car-span">
    <h2>Listado de Usuarios Supervisores</h2>
    <td><%= link_to "Agregar supervisor", new_supervisor_path, data: { turbo_frame: 'modal' }, class: 'btn' %></td>
  </span>
  <% if !@user.nil? %>
    <table class="table">
      <tr>
        <thead>
          <th>Nombre </th>
          <th>Apellido </th>
          <th>DNI </th>
          <th>Mail </th>
        </thead>
      </tr>
      <tr>
      <% @user.each do |u| %>
        <td><%= u.first_name%></td>
        <td><%= u.last_name %></td>
        <td><%= u.dni %></td>
        <td><%= u.email %></td>
        <td><%= link_to "Editar", edit_supervisor_user_path(u), data: { turbo_frame: 'modal' }, class: 'btn', form: { data: { turbo_confirm: 'Confirmar eliminacion' } } %></td>
        <td><%= button_to "Eliminar", delete_supervisor_user_path(u), method: :post, form: { data: { turbo_confirm: 'Confirmar eliminacion' } }, class: 'btn' %></td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <h3>No hay supervisores</h3>
  <% end %>
</div>