<h1>Página principal</h1>
<div class="container">
<td><%= link_to "Agregar supervisor", new_supervisor_path %></td>
<% if !@user.nil? %>
<% @user.each do |u| %>
    <h2>Listado de Usuarios Supervisores</h2>
    <table class="table">
    <tr>
        <thead>
          <th>Nombre </th>
          <th>Apellido </th>
          <th>DNI </th>
          <th>Mail </th>
        </thead>
      </tr>
      <tr>
        <td><%= u.name%></td>
        <td><%= u.last_name %></td>
        <td><%= u.dni %></td>
        <td><%= u.email %></td>
        <td><%= link_to "Eliminar"%></td>
      </tr>
    </table>
    <% end %>
<%else%>
    <h3>No hay supervisores</h3>
<% end %>

</div>