<h1>Estos son tus datos</h1>
<table class="users_table table table-hover">
<tr>
    <thead class="head_table">
      <th class="name">Nombre </th>
      <th class="name">Apellido </th>
      <th class="name">DNI </th>
      <th class="name">Mail </th>
      <th class="name">Edad </th>
      <th class="name">Dinero disponible</th>
      <th class="name"><%= 'Tus tarjetas' if current_user.cards.present? %></th>
    </thead>
  </tr>
  <tr>
    <td class="table_field"><%= current_user.first_name %></td>
    <td class="table_field"><%= current_user.last_name %></td>
    <td class="table_field"><%= current_user.dni %></td>
    <td class="table_field"><%= current_user.email %></td>
    <td class="table_field"><%= current_user.age %> años</td>
    <td class="table_field">$<%= current_user.wallet.money %></td>
    <td><%= link_to 'Ver mis tarjetas', wallet_cards_path(current_user.wallet), class: 'btn new_user' %></td>
  </tr>
</table>