<% if flash[:alert] %>
  <div class='alert'><%= flash[:alert] %></div>
<% end %>

<%= form_with model: @rental, url: url, method: method, local: true, class: 'form_margin_top' do |f| %>
  <%= f.label 'Tiempo a usar el vehículo (en horas)' %>
  <%= f.number_field :hours, class: 'textBox', min: 0.5, max: 24, step: 0.5 %>

  <%= f.hidden_field :price, value: 22.5 %>
  <p>Precio base del servicio por un mínimo de media hora: $22.5</p>
  <p>Precio estimado: $<span id="rental-estimate-price">22.5</span></p>
  <div class="form-submit-close-btns">
    <%= f.submit 'Extender alquiler', class:'btn new_user' %>
    <button data-action='click->turbomodals#submitEnd' class='btn new_user'>Cancelar</button>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    document.getElementById('rental-estimate-price').innerHTML = (document.getElementById('rental_hours').value * 22.5);
    document.getElementById('rental_price').innerHTML = document.getElementById('rental-estimate-price').innerHTML
  });
  document.getElementById('rental_hours').addEventListener('change', function () {
    document.getElementById('rental-estimate-price').innerHTML = (document.getElementById('rental_hours').value * 22.5);
    document.getElementById('rental_price').innerHTML = document.getElementById('rental-estimate-price').innerHTML
  });
</script>