<% if flash[:alert] %>
  <div class='alert'><%= flash[:alert] %></div>
<% end %>

<%= form_with model: @rental, url: url, method: method, local: true, class: 'form_margin_top' do |f| %>
  <%= f.label 'Tiempo a usar el vehículo (en horas)' %>
  <%= f.number_field :hours, class: 'textBox', default: 1, min: 1, max: 24, step: 1 %>

  <% f.hidden_field :price, value: $price_per_hour %>
  <p>Precio base del servicio por un mínimo de una hora: <span id="price_per_hour"><%= $price_per_hour %></span></p>
  <p>Precio estimado: $<span id="rental-estimate-price"> <%= $price_per_hour %></span></p>
  <div class="form-submit-close-btns">
    <%= f.submit 'Extender alquiler', class:'btn new_user' %>
    <button data-action='click->turbomodals#submitEnd' class='btn new_user'>Cerrar</button>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var price_per_hour = parseInt(document.getElementById('price_per_hour').innerHTML);
    document.getElementById('rental-estimate-price').innerHTML = (document.getElementById('rental_hours').value * price_per_hour);
    document.getElementById('rental_price').innerHTML = document.getElementById('rental-estimate-price').innerHTML
  });
  document.getElementById('rental_hours').addEventListener('change', function () {
    var price_per_hour = parseInt(document.getElementById('price_per_hour').innerHTML);
    document.getElementById('rental-estimate-price').innerHTML = (document.getElementById('rental_hours').value * price_per_hour);
    document.getElementById('rental_price').innerHTML = document.getElementById('rental-estimate-price').innerHTML
  });
</script>