<% if current_user.client? %>
  <% if @rental_actual == nil && @rentals.empty? %>
    <h1> Todavía no se registran alquileres </h1>
  <% elsif @rental_actual != nil %>
    <section class="index_user">
    <section>
      <table class='users_table'>
        <thead>
          <tr class='head_table'>
            <th>Auto </th>
            <th>Comenzó</th>
            <th>Finaliza</th>
            <th>Tiempo restante</th>
            <th>Precio total</th>
          </tr>
        </thead>
        <tbody id="users">
          </tr>
            <td><%= "#{rental_actual.car.brand} #{rental_actual.car.model} #{rental_actual.car.car_number} " %></td>
            <td><%= "#{@rental_actual.taken_at.strftime("%d-%m-%Y")}	#{@rental_actual.taken_at.strftime("%R")}" %></td>
            <td><%= "#{@rental_actual.finished_at.strftime("%d-%m-%Y")}	#{@rental_actual.finished_at.strftime("%R")}" %></td>
            <td><%= remaining_time(rental_actual) %> Horas</td>
            <td><%= @rental_actual.total_price %></td>
          </tr>
        </tbody>
      </table>
    <%end%>
<%end%>

<% if @rentals.empty? %>
  <% if current_user.supervisor? %>
    <h1>Actualmente no hay ningún alquiler en curso</h1>
  <%end%>
<% else %>
  <section class="index_user">
    <section>
      <table class='users_table'>
        <thead>
          <tr class='head_table'>
            <% if current_user.supervisor? %>
              <th class='name'>Usuario</th>
            <%end%>
            <th class='name'>Auto</th>
            <% if current_user.supervisor? %>
              <th class='name'>Coste</th>
              <th class='name'>Tiempo restante</th>
            <% else %>
              <th>Tiempo total </th>
              <th>Tomado el </th>
              <th>A las </th>
              <th>Precio total </th>
            <%end%>
          </tr>
        </thead>
        <tbody id="users">
          <% @rentals.each do |rental| %>
            <tr>
              <% if current_user.supervisor? %>
                <td><%= rental.user.name %></td>
              <%end%>
                <td><%= "#{rental.car.brand} #{rental.car.model} #{rental.car.car_number} " %></td>
              <% if current_user.supervisor? %>
                <td><%= rental.price %></td>
                <td><%= remaining_time(rental) %> Horas</td>
                <td><%= link_to 'Inspeccionar', rental_path(rental, car_id: rental.car, user_id: rental.user), class: 'btn' %></td>
              <% else %>
                <td><%= rental.taken_at.strftime("%d-%m-%Y")	 %></td>
                <td><%= rental.taken_at.strftime("%R")	 %></td>
                <td><%= time_limit.strftime("%d-%m-%Y %R")  %></td>
                <td><%= rental.total_price %></td>
              <%end%>
              </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </section>
<% end %>
