<div class="container">
  <span class="add-car-span">
  <h2>Alquier N°<%= @rental.id %></h2>
  </span>
  <table class="table">
    <tr>
      <thead>
        <th>Cliente: </th>
        <th>Numero de auto: </th>
        <th>Tiempo total: </th>
        <th>Tiempo restante: </th>
        <th>Precio total: </th>
      </thead>
    </tr>
    <tbody class="table">
      <tr>
        <td><%= @rental.user.name %></td>
        <td><%= @rental.car.car_number %></td>
        <td><%= @rental.hours %></td>
        <td><%= @rental.timeout %></td>
        <td><%= @rental.total_price %></td>
      </tr>
    </tbody>
  </table>
  <td><%= link_to 'Extender alquiler', edit_rental_path(@rental, car_id: @rental.car_id), data: {turbo_frame: 'modal'}, class: 'btn' %></td>
</div>