<% if @rental_actual != nil %>
  <div class="container">
    <span class="add-car-span">
    <h2>Alquiler actual</h2>
    </span>
    <table class="table">
      <tr>
        <thead>
          <th>Cliente: </th>
          <th>Numero de auto: </th>
          <th>Tiempo total: </th>
          <th>Tiempo restante: </th>
          <th>Precio total: </th>
        </thead>
      </tr>
      <tbody class="table">
        <tr>
          <td><%= @rental_actual.user.name %></td>
          <td><%= @rental_actual.car.car_number %></td>
          <td><%= @rental_actual.hours %></td>
          <td><%= @rental_actual.timeout %></td>
          <td><%= @rental_actual.total_price %></td>
        </tr>
      </tbody>
    </table>
    <td><%= link_to 'Extender alquiler', edit_rental_path(@rental_actual, car_id: @rental_actual.car_id), data: {turbo_frame: 'modal'}, class: 'btn' %></td>
  </div>
<% end %>


  <div class="container">
    <span class="add-car-span">
         <h2>Alquileres antigüos</h2>
    </span>
    <% @rental_viejos.each do |r| %>
      <table class="table">
        <tr>
          <thead>
            <h3>Alquiler N°<%= r.id %></h3>
          </thead>
        </tr>
    </span>
        <tr>
          <thead>
            <th>Cliente: </th>
            <th>Numero de auto: </th>
            <th>Tiempo total: </th>
            <th>Precio total: </th>
          </thead>
        </tr>
          <tr>
            <td><%= r.user.name %></td>
            <td><%= r.car.car_number %></td>
            <td><%= r.hours %></td>
            <td><%= r.total_price %></td>
          </tr>
      </table>
      <%end%>
  </div>