<h1>Tarjeta específica</h1>
<section class="user-show-row">
  <aside class="user-show-col">
    <%= @wallet.user.name %>
    <% @wallet.cards do |card| %>
      <%= card.bank %>
      <%= card.owner card.owner %>
      <%= card.kind %>
    <% end if @wallet.cards.present? %>
    <%= @wallet.money %>
  </aside>
</section>