<h1>Usuario específico</h1>
<section class="user-show-row">
  <aside class="user-show-col">
    <%= @wallet.user.name %>
    <%= @wallet.cards do |card| %>
      <%= card.bank %>
      <%= card.owner.first_name card.owner.last_name %>
      <%= card.kind %>
    <% end if @wallet.cards.present? %>
    <%= @wallet.money %>
  </aside>
</section>