<h1>Formulario general con todos los datos para autos</h1>

<%= form_with model: klass do |f| %>
  <div class="edit-form-row">
    <div class="edit-form-col form-group">
      <%= f.label :brand %>
      <%= f.text_field :brand, class: 'form-control' %>
      <div><%= klass.errors[:brand].to_sentence%></div>
    </div>

    <div class="edit-form-col form-group">
      <%= f.label :model %>
      <%= f.text_field :model, class: 'form-control' %>
      <div><%= klass.errors[:model].to_sentence%></div>
    </div>

    <div class="edit-form-col form-group">
      <%= f.label :plate %>
      <%= f.text_field :plate, class: 'form-control' %>
      <div><%= klass.errors[:plate].to_sentence%></div>
    </div>

    <div class="edit-form-col form-group">
      <%= f.label :insurance %>
      <%= f.text_field :insurance, class: 'form-control' %>
      <div><%= klass.errors[:insurance].to_sentence%></div>
    </div>

    <div class="edit-form-col form-group">
      <%= f.label :kilometers %>
      <%= f.text_field :kilometers, default: 0, class: 'form-control' %>
      <div><%= klass.errors[:kilometers].to_sentence%></div>
    </div>

    <%= f.submit 'Actualizar' %>
  </div>
<% end %>
