<div class="container">
  <span class="add-car-span">
    <h2>Listado de Automoviles</h2>
    <% if current_user.admin? %>
      <%= link_to "Agregar auto", new_car_path, class: 'btn', data: { turbo_frame: 'modal' }  %>
    <% end %>
  </span>
  <table class="table">
    <tr>
      <thead>
        <th>Foto: </th>
        <th>Numero de auto: </th>
        <th>Color: </th>
        <th>Patente: </th>
        <th>Marca: </th>
        <th>Modelo: </th>
        <th>Seguro: </th>
        <th>Kilometros: </th>
        <th>Siendo usado? </th>
      </thead>
    </tr>
  <% @cars.each do |car| %>
    <tbody class="table">
      <tr>
        <td><%= image_tag car.photo.url(:thumb).to_s %></td>
        <td><%= car.car_number %></td>
        <td><%= car.color %></td>
        <td><%= car.plate %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.insurance %></td>
        <td><%= car.kilometers %></td>
        <td><%= car.taken? ? 'Si' : 'No' %></td>
        <% if car.available? %>
          <% if current_user.supervisor? %>
            <td><%= link_to "Modificar", edit_car_path(car), data: {turbo_frame: 'modal'},  class: 'btn' %></td>
            <% if !car.blocked? %>
              <td><%= button_to "Bloquear auto", block_car_path(car), method: :post, form: { data: { turbo_confirm: '¿Está seguro que desea bloquear este auto?' } }, class: 'btn'%></td>
            <% else %>
              <td><%= button_to "Desbloquear auto", block_car_path(car), method: :post, class: 'btn'%></td>
            <% end %>
          <% else %>
            <td><%= button_to "Eliminar auto", remove_car_car_path(car), method: :post, form: { data: { turbo_confirm: 'Confirmar eliminacion' } }, class: 'btn'%></td>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>