<div class="container">
  <span class="add-car-span">
    <h2>Listado de Automoviles</h2>
  </span>
  <% if @cars.nil? %>
    <h1> No hay autos disponibles en un radio de 5 cuadras de su ubicacion actual, si desea ver todos los autos disponibles mas alla del radio de 5 cuadras </h1>
     <td><%= link_to "+ Ver más autos", index_20_path ,  class: 'btn' %></td>
  <% end%>
  <table class="table">
    <tr>
      <thead>
        <th>Imagen: </th>
        <th>Numero de auto: </th>
        <th>Color: </th>
        <th>Patente: </th>
        <th>Marca: </th>
        <th>Modelo: </th>
        <th>Seguro: </th>
        <th>Estado: </th>
        <th>Kilometros: </th>
      </thead>
    </tr>
  <% @cars.availables.each do |car| %>
    <tbody>
      <tr>
        <td><%= image_tag car.photo.url(:thumb).to_s %></td>
        <td><%= car.car_number %></td>
        <td><%= car.color %></td>
        <td><%= car.plate %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.insurance %></td>
        <td><%= t(car.state) %></td>
        <td><%= car.kilometers %></td>
        <td><%= link_to 'Alquilar', new_rental_path(user: current_user, car: car), method: :post, class: 'btn' %></td>
    </tr>
    </tbody>
  <% end %>
  </table>
</div>