<div class="container">
  <span class="add-car-span">
  <h2>Auto N°<%= @car.car_number %></h2>
  </span>
  <table class="table">
    <tr>
      <thead>
        <th>Imagen: </th>
        <th>Color: </th>
        <th>Patente: </th>
        <th>Marca: </th>
        <th>Modelo: </th>
        <th>Seguro: </th>
        <th>Kilometros: </th>
      </thead>
    </tr>
    <tbody class="table">
      <tr>
        <td><%= image_tag @car.photo.url(:thumb).to_s %></td>
        <td><%= @car.color %></td>
        <td><%= @car.plate %></td>
        <td><%= @car.brand %></td>
        <td><%= @car.model %></td>
        <td><%= @car.insurance %></td>
        <td><%= @car.kilometers %></td>
      </tr>
    </tbody>
  </table>
</div>