<h1>Auto específico</h1>
<section class="user-show-row">
  <aside class="user-show-col">
    <%= @car.brand %>
    <%= @car.model %>
    <%= @car.plate %>
    <%= @car.insurance %>
    <%= @car.kilometers %>
  </aside>
</section>