<% if flash[:alert] %>
  <div class='alert'><%= flash[:alert] %></div>
<% end %>

<%= form_with model: @user, url: register_user_path, method: :post , class: 'form_inicio' do |form| %>

  <%# Geolocalizacion %>
  <script>
	  navigator.geolocation.getCurrentPosition((pos) => 
      {document.querySelector("#user_latitude").value =`${pos.coords.latitude}`;
	  });
	
    navigator.geolocation.getCurrentPosition((pos) => 
      {document.querySelector("#user_longitude").value =`${pos.coords.longitude}`;
    });
  </script>
  
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>

  <%= form.label :nombre %>
  <%= form.text_field :first_name, class: 'textBox', placeholder: 'Ingrese su nombre' %>
  <div class='error_message'><%= @user.errors[:first_name].to_sentence %></div>

  <%= form.label :apellido %>
  <%= form.text_field :last_name, class: 'textBox', placeholder: 'Ingrese su Apellido' %>
  <div class='error_message'><%= @user.errors[:last_name].to_sentence %></div>

  <%= form.label :email %>
  <%= form.email_field :email, class: 'textBox', placeholder: 'Ingrese su email' %>
  <div class='error_message'><%= @user.errors[:email].to_sentence %></div>

  <%= form.label :dni %>
  <%= form.number_field :dni, class: 'textBox', placeholder: 'Ingrese su dni' %>
  <div class='error_message'><%= @user.errors[:dni].to_sentence %></div>

  <%= form.label 'Fecha de nacimiento' %>
  <%= form.date_field :birthday, class: 'textBox' %>
  <div class='error_message'><%= @user.errors[:birthday].to_sentence %></div>

  <%= form.label 'Contrase単a' %>
  <%= form.password_field :password, class: 'textBox', placeholder: 'Ingrese su contrase単a' %>
  <div class='error_message'><%= @user.errors[:password].to_sentence %></div>

  <%= form.label 'Confirme su contrase単a' %>
  <%= form.password_field :password_confirmation, class: 'textBox', placeholder: 'Confirme su contrase単a' %>
  <div class='error_message'><%= @user.errors[:password_confirmation].to_sentence %></div>

  <%= form.hidden_field :role, value: :client %>
  <%= form.text_field :location_point, hidden: true %>
  <%= form.hidden_field :location_point, hidden: true %>
  <br>
  <%= form.submit 'Registrarme', class: 'btn' %>
  <br>



<% end %>


  