<% if flash[:alert] %>
  <div class='alert'><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_with url: user_sessions_path, method: :post , class: 'form_inicio' do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email, class: 'textBox', placeholder: 'Ingrese su email' %>
  <%= form.label :password,'Contrase침a' %>
  <%= form.password_field :password, class:'textBox', placeholder: 'Ingrese su contrase침a' %>
  <br>
  <%= form.submit 'Iniciar sesi칩n', class: 'btn' %>
  <%= link_to 'Olvidaste tu contrase침a?', new_reset_password_path, class: 'btn', data: { turbo_frame: 'modal' } %>
  <br>
<% end %>
