<div class="container">
<% if @fines.empty?%>
  <h1>No existen multas generadas con los filtros que elegiste</h1>
  <td><%= link_to "Volver al menu de reportes", reports_path(@report), class:'btn new_user'  %></td>
<%else%>
    <span class="add-car-span">
        <h2>Reporte de multas desde el <%= params[:desde].to_date.strftime('%d-%m-%Y')%> hasta el <%= params[:hasta].to_date.strftime('%d-%m-%Y')%></h2>
    </span>
    <table class="table">
     <tr>
        <thead>
          <th>Infractor: </th>
          <th>Tipo: </th>
          <th>Estado: </th>
          <th>Monto: </th>
        </thead>
      </tr>
    <% @fines.each do |f| %>
      <tr>
        <td><%= f.user.name %></td>
        <td><%= f.typefine %></td>
        <td><%= f&.estado %></td>
        <td>$<%=f.price %></td>
        <td><%= link_to "Ver detalle de multa", fine_path(f), class:'btn new_user oculto-impresion'  %></td>
      </tr>
    <% end %>
    </table>
    <h1>Cantidad de multas encontradas: <%= @report.fines%>.</h1>
    <h1>Monto total: $<%= @monto%></h1>
    <td><%= link_to "Volver a reportes", reports_path(@report), class:'btn oculto-impresion'  %></td>
    <td><%= link_to "Imprimir reporte", "#", class: "btn oculto-impresion", onclick: "window.print()" %></td>
<% end %>