<div class="container">
<% if @users.empty?%>
  <h1>No existen usuarios con los filtros que elegiste</h1>
  <td><%= link_to "Volver al menu de reportes", reports_path(@report), class:'btn new_user'  %></td>
<%else%>
    <span class="add-car-span">
        <h2>Reporte de usuarios registrados desde el <%= params[:desde].to_date.strftime('%d-%m-%Y')%> hasta el <%= params[:hasta].to_date.strftime('%d-%m-%Y')%></h2>
    </span>
    <table class="table">
    <% @users.each do |u| %>
      <tr>
        <thead>
          <th>Nombre: </th>
          <th>Edad: </th>
          <th>DNI: </th>
          <th>Email: </th>
          <th>Estado: </th>
          <th>Dinero en cuenta: </th>
          <th>Bloqueado?: </th>
          <th>Tiene multas?: </th>
        </thead>
      </tr>
      <tr>
        <td><%= u.name %></td>
        <td><%= u&.age %></td>
        <td><%= u.dni %></td>
        <td><%= u.email %></td>
        <td><%= u.state %></td>
        <td>$<%= u.wallet.money %></td>
        <td><%= u.blocked %></td>
        <td><%= !u.fines.empty? %></td>
      </tr>
    <% end %>
    </table>
    <h1>Cantidad de usuarios encontrados: <%= @report.users%>.</h1>
    <h1>Balance de dinero total: $<%= @monto%></h1>
    <td><%= link_to "Volver a reportes", reports_path(@report), class:'btn'  %></td>
    <td><%= link_to "Imprimir reporte", "#", class: "btn", onclick: "window.print()" %></td>
    <% end %>