<% if flash[:alert] %>
  <div class='alert'><%= flash[:alert] %></div>
<% end %>
<h2 style="text-align: center;">Elegí una nueva contraseña</h2>

<%= form_for @user, url: reset_password_path(@token), method: :patch, class: 'form_margin_top', style: "float: center;" do |f| %>

  <div class="row">
    <div class="form-group col-md-6" style="margin: 0px 0px 10px 10px;">
      <%= f.label 'Nueva contraseña' %>
      <%= f.password_field :password, class: 'form-control', required: true %>
      <div class='error_message'><%= @user.errors[:password].to_sentence %></div>
    </div>

    <div class="form-group col-md-6" style="margin: 0px 0px 10px 10px;">
      <%= f.label 'Confirma la contraseña' %>
      <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
      <div class='error_message'><%= @user.errors[:password_confirmation].to_sentence %></div>
    </div>
  </div>

  <div class="form-group col-md-12" style="text-align: left; margin-top: 10px;">
    <%= f.submit 'Confirmar contraseña', class: 'btn', style: 'width: auto;' %>
  </div>
<% end %>