<nav>
  <section>
    <%= link_to 'Home', root_path %>
  </section>
  <section>
    <% if current_user %>
      <%= link_to 'Users index', users_path %>
      Sesión iniciada con email: <%= current_user.email %>
      <%= link_to "Cerrar sesión", :logout, id: 'sign-out-link', data: { "turbo-method": :delete } %>
    <% else %>
      <%= link_to 'Login', login_path, id: 'sign-in-link' %>
    <% end %>
  </section>
  <section>
    <% if current_user %>
      <% if current_user.client? %>
        <% if current_user.license.nil? %>
          <%= link_to 'Subir licencia', new_license_path %>
        <% else %>
        <%= link_to 'Ver estado de licencia', license_path(current_user.license) %>
        <% end %>
      <% else %>
          <%= link_to 'Verificar licencias', licenses_path %>
          <%= link_to 'Administracion de automoviles', cars_path %>
      <% end %>
    <% end %>
  </section>
</nav>

<aside>
  <% if notice %><%= notice %><% end %>
  <% if alert %><%= alert %><% end %>
</aside>