<section class="nav_header">
  <nav class="nav_pad">
    <ul class="nav_links">
      <li><%= show_rental_link %></li>
      <li><%= link_to 'FINALIZAR  VIAJE', rental_path(id: current_user.rentals.last, car_id: current_user.rentals.last.car, action: :destroy), data: { "turbo-method": :delete }, style: 'color: red;' if current_user.travelling? %></li>
      <li><%= link_to 'Listado de usuarios', users_path, class:"nav_item" if current_user&.admin? || current_user&.supervisor? %></li>
      <% if current_user.client? %>
        <li><%= link_to current_user&.name , user_path(current_user), class:"nav_item"%></li>
        <li><%= link_to 'Ver mis multas', fines_path(), class: 'nav_item"'%></li>
      <% else %>
        <li><%= link_to current_user&.name+' ('+current_user&.rol+')' , user_path(current_user), class:"nav_item"%></li>
        <li><%= link_to 'Administracion de multas', fines_path(), class: 'nav_item"'%></li>
      <% end %>
      <% if current_user %>
        <% if current_user.client? %>
          <% if current_user.licenses.last.nil? %>
          <li>
            <%= link_to 'Subir licencia', new_license_path, data: {turbo_frame: 'modal'}, class: 'nav_item' %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Ver estado de licencia', license_path(current_user.licenses.last), data: {turbo_frame: 'modal'}, class: 'nav_item' %>
          </li>
          <% end %>
        <% else %>
          <li><%= link_to 'Inspeccionar alquileres', rentals_path, class: 'nav_item' %></li>
          <li>
              <%= link_to 'Verificar licencias', licenses_path, class: 'nav_item' %>
          </li>
          <li>
              <%= link_to 'Administracion de automoviles', cars_path, class: 'nav_item' %>
          </li>
          <% if current_user.admin? %>
            <li>
                <%= link_to 'Administrar supervisores', users_path, class: 'nav_item' %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <li><%= link_to "Cerrar sesión", :logout, id: 'sign-out-link', data: { "turbo-method": :delete }, class: 'nav_item' %></li>
  </nav>
</section>

