<!DOCTYPE html>
<html>
  <head>
    <title>AlquilApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('Logo_3.png') %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if logged_in? %>
    <% end %>
    <%= turbo_frame_tag :modal %>
    <section>
      <% if flash[:success] %>
        <div class="success"><%= flash[:success] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert"><%= flash[:error] %></div>
      <% end %>
    </section>
    <%= yield %>

    <%= form_with url: locations_path, html: { id: "location-form" } do |f| %>
	  <%= f.hidden_field :lat %>
	  <%= f.hidden_field :lng %>
	<% end %>

	<script>
	  navigator.geolocation.getCurrentPosition((pos) => {
	    document.querySelector("#lat").value = pos.coords.latitude;
	    document.querySelector("#lng").value = pos.coords.longitude;
	    //document.querySelector("#location-form").requestSubmit();
	  });
	</script>
  
  </body>
</html>
