<!DOCTYPE html>
<html>
  <head>
    <title>AlquilApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('Logo_3.png') %>
  </head>
  <body class="body_login">
    <%= yield %>
  </body>
</html>